<template>
  <div class="game" v-border v-on:click="clickInterface" >
    <div class="object" :style='styeObject' :class='{bonus : bonusActivated}' v-on:click.stop="clickObject" v-on:click.alt.stop="bonus"></div>
  </div>
</template>

<script>
export default {
  name: 'game',
  data: function () {
    return {
      click: 0,
      styeObject: {
        height: '20px',
        width: '20px',
        left: '20%',
        top: '20%'
      },
      bonusActivated: false
    }
  },
  created: function () {
    document.onkeydown = this.start
  },
  directives: {
    border: function (el) {
      el.style.marginBottom = '15px'
    }
  },
  watch: {
    click: function () {
      this.updateObject()
    }
  },
  methods: {
    clickObject: function (event) {
      this.click++
    },
    bonus: function (event) {
      if (this.bonusActivated) {
      }
    },
    clickInterface: function (event) {
      this.click++
    },
    start: function (event) {
      if (event.key === 'Enter') {
        console.log('start')
      }
    },
    updateObject: function () {
      let size = Math.random() * (100 - 10) + 10
      let top = Math.random() * (50 - 5) + 5
      let left = Math.random() * (50 - 5) + 5

      this.bonusActivated = size > 80

      this.styleObject.height = this.styleObject.width = `${size}px`
      this.styleObject.top = `${top}%`
      this.styleObject.left = `${left}%`
    }
  }
}
</script>

<style>
.game{
  height: 300px;
  width: 100%;
  background: #d1d1d1;
  position: relative;
}
.object{
  background: #42f4f4;
  position: absolute;
  border-radius: 6px;
}
.bonus {
  background: red;
}
</style>
