<template>
  <div class="score">
    Votre score : <span>{{score}}</span>
  </div>
</template>

<script>
export default {
  name: 'score',
  data: function () {
    return {
      score: 5
    }
  },
  created: function () {
    this.score++
  }
}
</script>

<style>
.score span{
  color: #42f4f4;
  font-weight: 600;
}
</style>
